body {
    font-family: Georgia, "Times New Roman", serif;
}

a {
    color: #0085CA;
}
a, a:link, a:visited { text-decoration: underline; }

code {
    font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    color: #0085CA;
}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
    h1 a, h1 a:link, h1 a:visited,
    h2 a, h2 a:link, h2 a:visited,
    h3 a, h3 a:link, h3 a:visited,
    h4 a, h4 a:link, h4 a:visited,
    h5 a, h5 a:link, h5 a:visited,
    h6 a, h6 a:link, h6 a:visited {
        text-decoration: none;
    }
    h1 a:hover, h1 a:focus,
    h2 a:hover, h2 a:focus,
    h3 a:hover, h3 a:focus,
    h4 a:hover, h4 a:focus,
    h5 a:hover, h5 a:focus,
    h6 a:hover, h6 a:focus {
        text-decoration: underline;
    }

.logo {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
    border-radius:50%;
}

.t3-color { color: #f58006; }
.t3-secondary { color: #B9B9B9;}
.opq-color { color: #3eab34 !important; }
.sf2-color { color: #08C; }
.php-color { color: #6C7EB7 !important; }
.js-color { color: #F9DE5C !important; }
.apero-color { color: #CC3366 !important; }
.proxy-color { color: #f58006 !important; /* #FC6A31; */ }
.anet-color { color: #008AFF !important; }
.doctrine-color { color: #FC6A31 !important; }
.tw-color { color: #55ACEE !important; }
.sf2-bg {
    background-color: #f0f0f0;
}

.pageWidth {
    max-width: 75em;
    margin: 0 auto;
}

.stripe {}
    .stripe a, .stripe a:visited, .stripe a:link {
        color: inherit;
    }
.stripe--black {
    background-color: #252d31;
    color: #FFF;
}
.navbar {
    font-family: Helvetica, Arial, sans-serif;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
    .navbar-list {
        padding: 0; margin: 0;
    }
        .navbar-item { display: inline-block; }
            .navbar-link {
                display: inline-block;
                padding: 0.75em 2.5em;
                text-transform: uppercase;
                border-width: 0;
                border-left-width: 1px;
                border-image: linear-gradient(to bottom, transparent 0%, transparent 25%, #FFF 50%, transparent 75%, transparent 100%) 1 1 1 1;
            }

            .navbar-item:first-child .navbar-link {
                border-left-width: 0;
            }

            .navbar-link, .navbar-link:visited, .navbar-link:link {
                text-decoration: none;
            }
            .navbar-link:hover, .navbar-link:focus {
                text-decoration: underline;
            }



/* Post */
.post footer {
    margin-top: 20px;
}
/* /Post */

/* Posts list */
.posts-list
{
    list-style: none;
    margin: 0px 40px 0;
    padding: 0;
}

.posts-list-item
{
    border-bottom: 1px dotted #303030;
    margin: 0;
    position: relative;
}

.posts-list-item a
{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #424242;
    padding: 20px 5px;
}
.posts-list-item a:hover
{
    background: #FCF5F5;
    color: #f03838;
    padding: 20px 12px;
}
/* /Posts list */