<!DOCTYPE HTML>
<html lang="fr">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        
        <div class="stripe stripe--light">
            <div class="pageWidth pageContent">
            <div class="row">
                <div class="column small-12">
                    <div class="content">
                        {% block content %}
                            {{ page.content }}
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
        </div>
        
        <div class="stripe stripe--darker">
            <div class="pageWidth pageContent">
                {% include 'footer.html' %}
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
            {% if site.code_highlight %}

                <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
                <script>hljs.initHighlightingOnLoad();</script>
            {% endif %}

            {% block javascript %}{% endblock %}
    </body>
</html>